
html{
    background-color: black;
}
body{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
}
header, section, footer{
    grid-column: 2/3;
    
}
footer{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: auto;
    color: white;
    background-color: white;
}
p{
    font-size: 1.5em;
    color:gray;
}
h4{
    color:steelblue;
}
header, img{
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.main-body{
    background-color: white;
    height: 400px;
    overflow: hidden;
}
.tile-1, .tile-2, .tile-3{
    background-color: steelblue;
}
.bottom-banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.tile-1{
    grid-column: 1/2;
    border-bottom-left-radius: 25px;
}
.tile-2{
    grid-column: 2/3;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
.tile-3{
    grid-column: 3/4;
    border-bottom-right-radius: 25px;
}